<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kingja.phoenixsir">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <!--N FileProvider安装适配-->
    <application
        android:networkSecurityConfig="@xml/network_security_config">
        <!--O Inatall Permission适配-->

        <provider
            android:authorities="${applicationId}.fileprovider"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                       android:resource="@xml/fileproviderpath"></meta-data>
        </provider>

    </application>

</manifest>
